body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  
    
 background: rgb(220, 46, 46);
 
background: radial-gradient(circle, rgba(220, 46, 46, 0.8776610986191351) 19%, rgba(239, 66, 13, 0.8272409305519083) 42%, rgba(255, 0, 19, 0.732002835313813) 62%, rgba(237, 75, 12, 0.8356442918964461) 95%);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
