body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  
    background: linear-gradient(254deg, rgba(187, 9, 9, 0.878) 19%, rgba(158, 4, 32, 0.702) 68%,rgba(203, 16, 16, 0.702) 78%, rgba(237, 65, 12, 0.896) 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
